$colorGT: #00b39b; 
$colorGB: #00ccb1;
$colorATH: #ababab;
$colorATB: #747474;
$colorB: #3d83df;
$colorBk: #1b2734;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: white;
    text-align: center;

    img{
    width: 268px;
    height: auto;
    }

    .bust a{
        @media(max-width: 600px){
            background-color: $colorGB;
            color: #fff;
        }
    }
    .baby{
        color: #00b39b;
        @media(max-width: 600px){
            color: #fff;
        }
    }
    a{
        color: $colorATH;
        font-size: 15px;
        margin: 0 9px;
        font-weight: 900;

        &:hover{
            color: $colorGT;
            @media(max-width: 600px){
                color: #fff;
            }
        }
    }


    .menumie{
        display: none;
        position: absolute;
        background: white;
        padding: 5px 0 0 5px; 
        border-radius: 0 0 10px 10px;

        @media(max-width: 600px){
            display: block;
            border: none;
        }

        a{
            border-radius: 0 10px 10px 0;

            @media(max-width: 600px){
                border-radius: 0;
                color: #dddddd;
            }
        }
    }
    .kinsley:hover .menumie{
        display: block;
        border: none;
    }
}

.seg1{
    padding: 40px;
    margin-top: 40px;

    img{
        padding-bottom: 30px;
    }
    h3{
        color: $colorGT;
        font-size: 34px;
        margin: 34px 0;
    }
    p{
        font-size: 16px;
        margin: 12.8px 0;
        text-align: justify;
    }
    .card-body{
        width: auto;

        h3{
            padding-bottom: 30px;
            color: $colorGT;
        }

        p{
            text-align: justify;
        }
    }
}

.section2{

    margin: 60px auto 70px;

    .card-body{
        // transition: all .2s ease 0s;
        transition: all .35s ease 0s;
        width: 100%;

        @media(max-width: 600px) {
            br{
                display: none;
            }
        }
        .eminikan{
            margin-top: 89px;
        }

        .chimchim{
            color: white;
            // padding-top: 90px;
            text-decoration: underline;
        }

        .boss{
            margin-top: 20px;
        }

        .pels{
            color: white;
            padding-top: 90px;
            text-decoration: underline;
        }
        ul{
            padding: 0 0 0 20px;
        }
        li{
            margin-bottom: 5px;
        }
    }

    .card1{
    background: $colorGB;
    // font-size: 16px;
    line-height: 1.3;
    border-radius: 10px;
    color: white;
    transition: all .35s ease 0s;
    padding: 32px 32px 0;

        h1{
            font-size: 26px;
            margin: 7.8px 0;
        }

        h2{
            font-size: 24px;
        }
    }
    .card2{

    background: $colorB;
    // font-size: 16px;
    line-height: 1.3;
    border-radius: 10px;
    color: white;
    transition: all .35s ease 0s;
    padding: 32px 32px 0;

        h1{
            font-size: 26px;
            margin: 7.8px 0;
        }

        h2{
            font-size: 24px;
        }
    }
    .card3{

    background: $colorBk;
    // font-size: 16px;
    line-height: 1.3;
    border-radius: 10px;
    color: white;
    transition: all .35s ease 0s;
    padding: 32px 32px 0;

        h1{
            font-size: 26px;
            margin: 7.8px 0;
        }

        h2{
            font-size: 24px;
        }
    }
}

.section3{
     h1 {
        color: #00b39b;
        font-weight: 50;
        line-height: 35px;
        font-size: 26px;
        // height: 102px;
        letter-spacing: 1.5px;
        // width: 300px;
        // margin: 0px;
        text-align: center;

        @media(max-width: 600px){
            br{
                display: none;
            }
      }
    }
      .section3-brands {
        display: grid;
        grid-template-columns: repeat(4, 200px);
        list-style: none;
        color: #747474;
        text-align: center;
        justify-content: center;
        // align-items: center;
        width: 100%;
        box-sizing: border-box;

        @media(max-width: 600px){
            grid-template-columns: repeat(2, 200px);
            margin: 0 100px 0 5px;
        }
        svg{
            fill: grayscale(#dddddd);
            margin-right: 10px;

            &:hover{
                fill: $colorGT;
            }
        }
        li{
           width: 200px;
           height: 46px;
           padding-right: 6px; 
        }
        img{
            filter: grayscale(100%);
        }
        .img1{
            width: 95px;
            height: 25px;
            zoom: 1;
        }
        .img2{
            width: 130px;
            height: 16px;
        }
        .img4{
            width: 126px;
            height: 16px;
        }
        .img5{
            width: 126px;
            height: 16px;
        }

      }
      .section3-brands img:hover {
          filter: grayscale(0%);
      }
    //   .section3-brands svg:hover {
    //     fill: $colorGT;
    // }
}

.section4{
    background: #e5faf8;
    background-image: linear-gradient(-45deg,rgba(0,204,177,.01) 5%,rgba(61,199,223,.1));
    padding: 30px 0 10px;
    // overflow: hidden;
    margin: 50px auto 88px;
    position: relative;
    
    @media(max-width: 600px){
        background-image: url(logo1.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom left;
    }
    .insert-img{
        @media(max-width: 600px){
            img{
                display: none;
                // z-index: -1;
                // bottom: 0;
            }
        }
    }
    
    h1{
        color: $colorGT;
        text-align: center;

        @media(max-width: 600px){
            br{
                display: none;
            }
        }
    }
    p{
        color: #747474;
        margin: 22.5px 0;
        text-align: center;

        @media(max-width: 600px){
            br{
                display: none;
            }
        }
    }
    .sidebox{
        display: grid;
        grid-template-columns: repeat(2, 100px);
        justify-content: space-evenly;

        @media(max-width: 600px){
            display: block;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .sammy{
            margin-top: 50px;

            @media(max-width: 600px){
                margin: 50px;
                padding: auto;
            }
        }

        .minimie{
            margin-top: 0px;
            margin-left: 50px;

            @media(max-width: 600px){
                margin: 50px;
                padding: auto;
            }
        }
        .segun{
            margin-top: -90px;

            @media(max-width: 600px){
                margin: 50px;
                padding: auto;
            }
        }
        .lee{
            margin-left: 50px;
            margin-top: -140px;

            @media(max-width: 600px){
                margin: 50px;
                padding: auto;
            }
        }
        .myCars{
            background: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 5 px -1px #1b2734;
            height: 250px;
            width: 230px;
            text-align: center;
            padding-top: 30px;
            margin-bottom: 10px;
            font-size: .8125em;

            h3{
                font-size: 24px;
                margin: 12px 0;
            }
            p{
                margin: 13px;
            }
        }
    }
}

.section5{
    margin: 88px 0 80px 0;

    @media (max-width: 600px){
        margin: 30px 0;
        br{
            display: none;
        }
    }

    .sub5{
        margin: 0 auto 68px;
    }
    h1{
        font-size: 30px;
        color: $colorGT;
    }
    p {
        font-size: 14px;
        margin: 23px 0;
        color: #747474;

        @media (max-width: 600px){
            margin: 15px;
        }
    }

    .pictures{
        display: grid;
        grid-template-columns: repeat(3, 420px);
        justify-content: center;
        align-items: center;
        text-align: center;

        // .dcdcx{
        //     // display: flex;
        //     align-items: center;
        //     justify-content: center;

        // }
        h5{
            color: black;
            font-weight: 900;

        }
        .btn{
            vertical-align: middle;
            position: relative;
            outline: 0;
            border: 0;
            border-radius: 4px;
            padding: 1.1666666667em 1.5em;
            background: #3d83df;
            color: #fff;
            font-weight: 700;
            text-align: center;
            text-decoration: none!important;
            transition: all .2s ease 0s;
        }

        @media(max-width:600px){
            display: inline-flex;
        }
        .card{
            margin-bottom: 20px;
            border: none;

            @media (max-width:600px){
                margin: 50px;
            }
        }
        .zion{
            display: inline-flex;
            justify-content: space-between;
            border: 1px solid #dddddd;

            .card-title{
                font-size: 20px;
                padding-top: 20px;
            }
            .btn{
                vertical-align: middle;
                position: relative;
                outline: 0;
                border: 0;
                border-radius: 4px;
                padding: 1.1666666667em 1.5em;
                background: #3d83df;
                color: #fff;
                font-weight: 700;
                text-align: center;
                text-decoration: none!important;
                transition: all .2s ease 0s;
            }
        }
    }
}

.section6{
    margin: 80px auto;

    @media(max-width: 600px){
        text-align: center;
    }

    h1{
        font-size: 30px;
        margin-bottom: 22.5;
    }
    .btn{
        vertical-align: middle;
        position: relative;
        outline: 0;
        border: 0;
        border-radius: 4px;
        padding: 1.1666666667em 1.5em;
        background: #3d83df;
        color: #fff;
        font-weight: 700;
        text-align: center;
        text-decoration: none!important;
        transition: all .2s ease 0s;
    }
}

footer{

    border-top: 1px solid #eef2f2;
    text-align: center;
    padding: 1em 0;
    margin: 19.2px 0 4.8px;

    @media(max-width: 600px){
       padding: 0 30px;     
    }
    p{
        font-size: 12px;
        padding-bottom: 0.4em;
        color: #747474;
    }
    a{
        text-decoration: none;
        color: #3d83df;
        outline: 0;
        transition: all .2s ease 0s;

        &:hover{
            text-decoration: underline;
        }
    }
}